//Partials
@use 'form.scss';

//Letras
$tipo_letra: 'Montserrat', sans-serif;

//Variables
$fondo_oscuro: #04180bc0;
$color_letras: #ffffff;
$color_h3: #65f565;


body{
    background: $fondo_oscuro;
    color: $color_letras;
    font-family: $tipo_letra;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    //Anidaciones
    div{
        padding: 4px;
        
        h3{
            color: $color_h3;
        }
    }  
}
