//Partials
@use 'form.scss';

//Letras
$tipo_letra: 'Montserrat', sans-serif;

//Variables
$fondo_oscuro: #04180bc0;
$color_letras: #ffffff;
$color_h3: #65f565;
$color_fondo: #073d0f71;


body{
    background: $fondo_oscuro;
    color: $color_letras;
    font-family: $tipo_letra;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    //Anidaciones
    div{
        padding: 4px;
        
        h3{
            color: $color_h3;
        }
    }  
}

@mixin card_box($fondo_caja){
    background: $fondo_caja;
    border: 2px solid darkgreen;
    box-shadow: 0px 0px 9px black;
    color: $color_letras;
    width: 500px;
    border-radius: 5px;
}

.box{
    @include card_box($color_fondo);
    width: 500px + 100px ; //Operadores
}

.box_animado{
    @include card_box(transparent);
    margin: 10px 20px 80px 20px;
    padding: 5px;
}

.circle{
    width: 50px;
    height: 50px;
    background-color: $color_h3;
    border-radius: 50%;
    margin: 10px 40% ;
    animation: 2s alternate infinite;
}

@for $iterator from 1 through 3{   
    .circle#{$iterator}{
        animation-name: animacion#{$iterator};
        
        @keyframes animacion#{$iterator}{
            0%{
                transform: translate(-50% * $iterator);
            }

            100%{
                transform: translate(50% * $iterator);
            }
        }

    }

}


